.fs-form {

  .fs-form-menu {

    display: block;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid $silver;

    background: #fff;

    &__item {

      display: inline-block;
      cursor: pointer;
      padding: 2px 4px;

      opacity: .7;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }

      &-icon {
        height: 24px;
        width: auto;
      }
    }
  }
}