@import "vars";
@import "menu";
@import "messenger";

/** Django field full width */

.field-stream {
  .related-widget-wrapper {
    float: none;
    clear: both;
    overflow: inherit;
  }
}

.fs-form {

  overflow: hidden;
  border: 1px solid $silver;
  border-bottom: 0 none;
  width: 100%;

  &__plugin {
    border-bottom: 1px solid $silver;
    background: #fff;
  }
}

.fs-form-plugin {

  overflow: hidden;

  &__form {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
  }

  &__actions {
    float: right;

    width: 40px;
  }

  &__action {
    display: block;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;

    &:hover {
      background: $clouds;
    }

    &--delete {
      &:hover {
        background: $alizarin;
      }
    }
  }
}