@import "vars";
@import "menu";
@import "messenger";

/** Django field full width */

.field-stream {
  .related-widget-wrapper {
    float: none;
    clear: both;
    overflow: inherit;
  }
}

.fs-form {

  border: 1px solid $silver;
  width: 100%;
  background: #333;

  &__plugin {
    margin: 10px;
    background: #fff;
  }
}

.fs-form-plugin {

  &__header {
    padding: 0 20px;
  }

  &__name {
    display: inline-block;
    box-sizing: border-box;
    width: 33.3333%;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  &__drag {
    display: inline-block;
    box-sizing: border-box;
    width: 33.3333%;
    font-size: 18px;
    padding: 7px 5px;
    text-align: center;
    cursor: move;
  }

  &__actions {
    display: inline-block;
    box-sizing: border-box;
    width: 33.3333%;
    text-align: right;
  }

  &__action {
    display: inline-block;
    font-size: 18px;
    padding: 7px 5px;
    cursor: pointer;
  }

  &__form {
    padding: 20px;
  }
}